/* The following is custom css that will be included with your specific apps.  Feel free to add any custom css you want included in your app. */

#left-column {
	width: 24%;
	float: left;
}

#right-column {
	width: 74%;
	float: right;	
}

.widget {
	border: 2px solid #9d9d9d;
	background-color: #f1f1f1;
	margin: 0 .5% 10px;
	width: 15%;
	float: left;
	position: relative;
	min-height: 185px;
}

.two-columns {
	width: 31.5%;
}

.three-columns {
	width: 47.5%;
}

.four-columns {
	width: 64%;
}

.five-columns {
	width: 80.5%;
}

.widget h2 {
	background-color: #1c4342;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	padding: 5px 5px;
}

.widget .widget-text {
	padding: 10px;
	font-size: 12px;
}

.widget-link {
	color: #ffffff;
}

.status-on {
	padding: 0px 5px;
	background-color: #81cc77;
	color: #ffffff;
	float: right;
	text-align: center;
}

.status-off {
	padding: 0px 5px;
	background-color: #d81212;
	color: #ffffff;
	float: right;
	text-align: center;
}

.widget-on  h2 {
	border: 5px solid #81cc77;
}

.widget-off  h2 {
	border: 5px solid #d81212;
}

.change-now-link {
	font-size: 12px;
	margin-left: 10px;
}

.notification {
	padding: 10px;
	color: #ffffff;
	margin: 0 0 10px;
	border: 2px solid #9d9d9d;
	background-color: #1c4342;
}

.critical {
	background-color: #d81212;
}

.notification h3 {
	border-bottom: 2px solid #ffffff;
	margin: 0 0 10px;
	font-size: 14px;
}

.notification h3 .notification-date {
	margin-left: 30px;
	font-size: 12px;
}

.notification h3 .notification-status {
	float: right;
}

.notification .notification-text {
	font-size: 14px;
}

.notification .notification-link {
	overflow:hidden;
}

.notification .notification-link a{
	float: right;
	margin: 10px 0;
	background-color: #ffffff;
	padding: 5px 10px;
}

.notification .notification-link a:hover{
	background-color: #616161;
	color: #ffffff;
}

.notification-more {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
